<div class="navigation">
  <nav class="navbar justify-content-between navbar-light bg-dark text-white">
    <div class="container">
      <h1><%= link_to 'Event App', root_path, class: "logo" %></h1>      
    </div>
  </nav>
</div>
